
  

  
  .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  label span:hover,
  input[type="radio"]:checked + label span,
  span.selected {
    background-color: #f0ad4e;
  }
  
  